{% extends "base.html" %}

{% block content %}

    <div class="container">
    <h2 class="page-title">Admin page</h2>
    
    <div class="register-block">
        <div style="float: right; margin-top: 2px">
            <a href="/admin_view" class="#">Courses for approval</a>
            <a class="hoverLink" href="#">Classrooms</a>
        </div>
        {% for instance in persons %}
        <div style="text-align: left;">
            ID: {{instance.id_person}}<br>
            Login: {{instance.user}} <br>
            Firstname: {{instance.firstname}} <br>
            Surname: {{instance.surname}} <br>
            {% if instance.role == "a" %}
                Role: Administrator
                {% elif instance.role == "l" %}
                Role: Lektor
                {% elif instance.role == "s" %}
                Role: Student
                {% elif instance.role == "g" %}
                Role: Garant
                {% else %}
                Role: Registered user
                {% endif %}
            <br style="margin-bottom: 10px">
            <span style="font-size: 18px;"><b><a class="hoverLink" href="{%url 'user_update' instance.id_person %}">Update</a></b> |
            <b><a class="hoverLink" href="{%url 'user_delete' instance.id_person %}">Delete</a></b></span>

            {% comment %} <button type="submit" class="btn btn-outline-danger" name="Delete">Delete</button></span><br> {% endcomment %}
            <!-- Button trigger modal -->
          {% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Delete
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">delete?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Delete user <script type="text/javascript">document.write('ggg')</script>?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
        </div>
            <hr style="margin: 10px 0px">
        {% endfor %}
    </div>
</div>
{% endblock %}