{% extends "base.html" %}

{% block content %}
<main class="container">
    <form method="POST">
    {%csrf_token%}
    <h2 class="page-title">{{ course_title }}
        
            {% if user.is_authenticated%}
            {% if is_register %}
            <!-- <button type="submit" class="btn btn-outline-success" name="Register">Register</button> -->
            <button type="submit" class="btn btn-outline-danger" name="Unregister">Unregister</button>
            {% else %}
            <button type="submit" class="btn btn-outline-success" name="Register">Register</button>
            {% endif %}
            {% endif %}
    </h2>
</form>
    <div class="profile-window">
            
            <br>
            <hr style="margin: 2px 0 10px">

            <div style="display:block">
                <b>{{ course_abbrv }}</b>
                •
                {% if course.type == "w" %}
                <b>Winter semester </b>  
                {% else %}
                <b>Summer semester</b>  
                {% endif %}
                •
                <b>{{ course.credits }} credits</b>
            </br>
            </div>

            <div style="margin-top:20px"> 
                
                {{ course.description}}
            </div>

            
            <!-- <hr style="margin: 10px 0 10px"> -->
                

        </div>
</main>

{% endblock %}