<style type="text/css">
    TABLE {
      /* width: 1000px; */ /* Ширина таблицы */
      border: 2px solid rgb(125, 119, 119);
      border-collapse: collapse; /* Убираем двойные линии между ячейками */
      margin: auto;
     }
     TD, TH {
      padding: 10px; /* Поля вокруг содержимого таблицы */
      border: 1px solid black; /* Параметры рамки */
      /* border-bottom: 2px solid black ; */
    }
     TH {
      background: #3fb8ed; /* Цвет фона */
     }
     
   </style>


<div class="container">
    <div class="search-header">
      <h2 class="page-title">All kurzy</h2>
  
      <table class="tableR">
        <tr>
          <th width = "50">Abbrv</th>
          <th width = "400">Title</th>
          <th width = "100">Duty</th>
          <th width = "100">Fakulta</th>
        </tr>
  
        {%for item in course%}
        <tr>
          <td>{{item.abbrv}}</td>
          <td>
            <a class="list_links__link" href="{{item.get_absolute_url}}">
            <b>{{item.title}}</b>
            </a>
          </td>
          <td>{{item.credits}}</td>
          <td>{{item.fakulta}}</td>
        </tr>
        {% endfor %}
       </table>
      </div>
  </div>  
  