{% extends "base.html" %}

{% block content %}
<!-- End main-header -->

<main class="container">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <h2 class="page-title">Garant page</h2>
        {% for i in courses%}
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <strong>{{ i.abbrv }}</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong>Semester: </strong>
                {% if i.type == 'w' %} winter {% else %} summer {% endif %}
                <br>
              <strong><a href="{%url 'student_list' i.id_course %}" class="nav-link">Details</a> </strong>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    </main>

{% endblock %}
