{% extends "base.html" %}

{% block content %}
<main class="container">
    <h2 class="page-title">You are logged on as a 
        {% if person.role == "a" %}
        Administrator<br>
        {% elif person.role == "g" %}
        Garant<br>
        {% elif person.role == "s" %}
        Student<br>
        {% else %}
        Registered user<br>
        {% endif %}</h2>
    <div class="profile-window">
            <div style="float: right; margin-top: 2px">
                {% if person.role == "a" %}
                <a href="/admin_view" class="hoverLink">Admin</a>
                {% endif %}
                {% if person.role == "g" %}
                <a href="/" class="hoverLink">Propose a new course</a>
                {% endif %}
                <a class="hoverLink" href="profile_edit">Edit profile</a>
            </div>
            <br>
            <hr style="margin: 4px 0 10px">
            <div style="display:block">
                Your username: {{ person.user }}<br>
                Name: {{ person.firstname }}<br>
                Surname: {{ person.surname }}<br>
                Email: {{ person.email }}<br>
                Telephone: {{ person.telephone }}<br>
                Address: {{ person.address }}<br> 
                Course:
            </div>
            <hr style="margin: 10px 0 10px">
        </div>
</main>

{% endblock %}