{% extends "base.html" %}
{% block link %}<link href="https://getbootstrap.com/docs/5.2/examples/sign-in/signin.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% endblock %}
{% block style %}<style type="text/css">
  form {
    display: block;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  
  form input {
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 25%;
  }
 </style>{% endblock %}
{% block content %}
  
<main class="container">
      <h1 class="h3 mb-3 fw-normal"><center>Please sign up</center></h1>
      <div class="register-block">
      <form method="POST" action="{% url 'register' %}">

        
        {%csrf_token%}
        <div class="form-floating">
          <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" class="form-control" maxlength="150" autofocus required id="id_username">
            
          </p>
        
          
          <p>
            <label for="id_firstname">Firstname:</label>
            <input type="text" name="firstname" class="form-control" maxlength="30" id="id_firstname">
            
            
          </p>

          <p>
            <label for="id_surname">Surname:</label>
            <input type="text" name="surname" class="form-control" maxlength="30" id="id_surname">
            
            
          </p>
        
          <p>
            <label for="id_email">Email:</label>
            <input type="email" name="email" class="form-control" maxlength="254" required id="id_email">
          </p>
          <p>
            <label for="id_password1">Password:</label>
            <input type="password" name="password1" class="form-control" autocomplete="new-password" required id="id_password1">            
            
          </p>
          <p>
            <label for="id_password2">Password confirmation:</label>
            <input type="password" name="password2" class="form-control" autocomplete="new-password" required id="id_password2">
          </p>
        </div>
       
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button> 
      </form>
    </div>
  </main>
  {% endblock %}
  